@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Poppins, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

